
.header{

    background-color: black;
    color: white;
}


.header ul{

    display: flex;
    justify-content: center;
}

.header ul li{

    list-style: none;
    margin: 10px;
    font-family: sans-serif;
}