.navbar{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
}

.navbar ul{
    display: flex;
   
}

.navbar ul li{

    list-style: none;
    margin: 10px 30px;
    font-size: 25px;
}